 @model IEnumerable<CodingChallengeKneat.Models.StarShip>
 <div class="form-horizontal">

        <hr />
        <div class="form-group">


            <table class="table table-responsive" style="width:400px">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.stop)
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.stop)
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>

